.hero {
  height: 60vh;
  width: 100%;
  background-image: url("./assets/pic.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}
.text {
  background-color: brown;
  color: white;
  height: 50vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
}
.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 50vh;
  width: 100%;
  border-bottom: 1px solid #212121;
}
/* .hero img {
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
} */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 50px;
  width: 100%;
  background-color: darkgrey;
  color: black;
}
